# Віртуальне оточення
.venv/
venv/
env/

# Секрети (НІКОЛИ НЕ ЗАЛИВАЙ ЦЕ!)
.env

# Кеш та скомпільовані файли
__pycache__/
*.pyc
.pytest_cache/

# База даних SQLite (якщо раптом створилась локально)
*.sqlite3

# Папки IDE
.idea/
.vscode/